body {
	line-height: 1;
	font-family: 'Montserrat', sans-serif;
}

.wrapper {
	/* font-family: 'Montserrat', sans-serif; */

	background-color: #fafafc;
	/*background-color: #333;*/
	min-height: 100%;
	overflow: hidden;
	position: relative;
	/* padding: 0 15px; */
}

[class*='__container'] {
	max-width: 1152px;
	margin: 0 auto;
}

.notes {
}

/* -----------Header------------------ */
.header {
	width: 100%;
	background-color: #fff;
	box-shadow: 0 3px 3px 0 rgba(11, 12, 13, 0.16), 0 0 1px 0 rgba(11, 12, 13, 0.24);
}
.notes-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 18px 0;

	margin-bottom: 24px;
}
.notes-header__icon {
}
.notes-header__text {
	font-weight: 500;
	line-height: 1.5;
	color: #000;
	position: relative;
}
.notes-header__text::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: -36px;
	background: url('../img/Header/list.svg') 0 0 no-repeat;
}
.notes-header__count {
	font-weight: 700;
}

/* -----------Main------------------ */
.main {
	background-color: #fafafc;

}
.notes__form {
	margin: 0 0 24px 0;
}
.form {
	display: flex;
	flex-direction: column;
	box-shadow: 0 8px 12px 0 rgba(11, 12, 13, 0.08), 0 16px 24px 0 rgba(11, 12, 13, 0.04),
		0 1px 2px 0 rgba(11, 12, 13, 0.08);
	background: #fff;
	padding: 24px;
}
.form__label,
.fieldset-legend {
	font-weight: 400;
	font-size: 12px;
	line-height: 2;
	color: #919191;
}
.form__title-input,
.form__description-input {
	font-family: 'Montserrat', sans-serif;
	border: 1px solid #e8e8e8;
	border-radius: 10px;
	padding: 6px 12px;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71429;
	color: #000;

	transition: all 0.3s ease 0s;
}
.form__title-input:focus::placeholder,
.form__description-input:focus::placeholder {
	transform: translate(-100%,0px);
	opacity: 0;

}
.form__title-input::placeholder,
.form__description-input::placeholder {
	transition: all 0.5s ease 0s;
}
.form__title-input {
	max-width: 344px;
	min-height: 36px;
	margin: 0 0 12px 0;
}
.form__description-input {
	flex: 1 0 84px;
}
.form__body {
	display: flex;
	gap: 24px;
}
.form__item-textarea {
	display: flex;
	flex-direction: column;
	flex: 0 1 848px;
}
.form__body-add-notes {
	display: flex;
	flex-direction: column;
}

/*----------Radio-buttons------------------*/
fieldset {
	all: unset;

	margin: 0 0 12px 0;
}

legend {
	all: unset;
	margin: 0 0 5px 0;
}

.radio-list {
	padding: 0 6px;
	display: flex;
	gap: 20px;
}

.radio {
	appearance: none;
	display: inline-block;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: green;
	cursor: pointer;
}

.radio[value='red'] {
	background-color: #f37d7d;
}

.radio[value='green'] {
	background-color: #c2f37d;
}

.radio[value='blue'] {
	background-color: #7de1f3;
}

.radio[value='yellow'] {
	background-color: #f3db7d;
}

.radio[value='purple'] {
	background-color: #e77df3;
}

.radio:checked {
	border-color: white;
	box-shadow: 0 0 0 3px white, 0 0 0 4px #007bff;
	transition: all 0.3s ease 0s;
}

/* ----------Button Add-------------- */
.button-add-note {
	display: inline-flex;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	position: relative;
	font-size: 16px;
	line-height: 1.5;
	color: #fff;
	border-radius: 10px;
	padding: 6px 24px;
	/* padding: 6px 24px 6px 56px; */
	background-color: #457cdc;
	cursor: pointer;

	gap: 8px;
	transition: all 0.3s ease 0s;
}
/* .button-add-note::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 5px;
	left: 24px;
	background: url('../img/icons/plus.svg') 0 0 no-repeat;

	transition: all 0.3s ease 0s;
} */
.button-icon {
	transition: all 0.5s ease 0s;
}
.button-add-note:hover .button-icon {
	transform: rotate(270deg);
}
.button-add-note:hover {
	background-color: #5891f5;
}
.button-add-note:hover:active {
	transform: scale(0.95);
}

/* ---------Checkbox favorites------------- */
.favorites-checkbox {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 8px;
}
.notes__checkbox-favorites {
	margin: 0 0 12px 0;
}
/*-----------Классы на список------------------*/
.notes__list {
}
.list {
	display: flex;
	align-items: flex-start;
	gap: 24px;
	flex-wrap: wrap;
}
.list__item {
	/*position: relative;*/
	/*top: 0;*/
	display: flex;
	min-width: 368px;
	flex-direction: column;
	flex: 0 0 250px;
	border-radius: 10px;
	background-color: aliceblue;
	box-shadow: 0 4px 8px 0 rgba(11, 12, 13, 0.08), 0 8px 16px 0 rgba(11, 12, 13, 0.04),
		0 1px 2px 0 rgba(11, 12, 13, 0.08);

	transition: all 0.3s ease 0s;
}
.list__item:hover {
	transform: translateY(-2px);
}

.list__item-header {
	display: flex;
	justify-content: space-between;
	padding: 12px;
	border-radius: 10px 10px 0 0;
}
.list__title {
	font-weight: 500;
	font-size: 16px;
	line-height: 1;
	color: #292515;
}
.list__buttons {
	display: flex;
	gap: 12px;
}
.list__delete-button {
	cursor: pointer;
}
.list__delete-button:hover {
	transform: scale(1.2);
	transition: all 0.3s ease 0s;
}
.list__favorites-button {
	cursor: pointer;
}

.list__description {
	padding: 12px;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71429;
	color: #000;
}

/*-------Классы на сообщения-----------------*/

.notes__message-box {
	position: absolute;
	width: 100%;
	bottom: 72px;
	right: 64px;
	display: inline-flex;
	align-items: flex-end;
	flex-direction: column;
	gap: 5px;
}
.new-message {
	position: relative;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.71429;
	color: #fff;
	border-radius: 10px;
	padding: 12px 24px 12px 54px;
	box-shadow: 0 8px 12px 0 rgba(11, 12, 13, 0.08), 0 16px 24px 0 rgba(11, 12, 13, 0.04),
		0 1px 2px 0 rgba(11, 12, 13, 0.08);
}
.success {
	background: #47b27d url('../img/icons/done.svg') 22px 12px no-repeat;
}
.error {
	background: #f23d5b url('../img/icons/warning.svg') 22px 12px no-repeat;
}
.hidden {
	display: none;
}
.image {
	transition: all 0.3s ease 0s;
}
.image:hover {
	transform: scale(1.2);
}
.list-message {
	display: flex;
	text-align: center;
	justify-content: center;
	padding: 138px 0 222px 0;
	font-weight: 500;
	line-height: 1.5;
	color: #000;
}

/* -----------Confirm------------ */
.confirm{
	padding: 6px;
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	height: 90px;
	background-color: #f6f1f1;
	border-radius: 10px;
	border: #292515 1px solid;
	text-align: center;

	transition: all 0.3s ease 0s;
}
.confirm-buttons{
	margin-top: 30px;
	display: flex;
	justify-content: center;
	gap: 20px;
}
.confirm button {
	flex: 0 0 100px;
	padding: 2px;
	background-color:#7de1f3;
    border: #292515 1px solid;
	cursor: pointer;
	border-radius: 10px;

	transition: all 0.3s ease 0s;
}

.confirm button:hover {
	background-color: #2ec4e0;
	border: 1px solid #5e6267;

}
