
/* ОБНУЛЕНИЕ СТИЛЕЙ */
/* *,*/
/**::before,*/
/**::after {*/
/*	margin: 0;*/
/*	padding: 0;*/
/*	border: 0;*/
/*	-webkit-box-sizing: border-box;*/
/*	box-sizing: border-box;*/
/*}*/

li {
	list-style: none;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
} */

img {
	vertical-align: top;
}

html,
body {
	height: 100%;
	/* background: #333; */
}

html {
	font-family: serif;
	font-size: 16px; /* по умолчанию */
}

body {
	line-height: 1;
}

.wrapper {
	font-family: "Montserrat", sans-serif;
	background-color: #72bdbd;
	min-height: 100%;
	overflow: hidden;
}

.notes {
	padding: 0 40px;
	display: flex;
	flex-direction: column;
}

.notes-header {
	display: flex;
	gap: 50px;
}
.notes-header__title {
}
.notes-header__text {
	font-weight: 500;
	line-height: 1.5;
	font-size: 18px;
}
.notes-header__count {
	font-size: 20px;
}
.notes__form {
}
.form {
	display: flex;
	flex-direction: column;
}
.form__label {
}
.form__title {
	width: 250px;
}
.form__description {
	width: 300px;
}
.form__button {
	width: 200px;
}


/*-----------Классы на список------------------*/
.notes__list {

}
.list{
	display: flex;
	gap: 20px;
}
.list__item {
	display: flex;
	flex-direction: column;
	flex: 0 0 250px;
	border-radius: 10px;
	border: 3px solid #f3db7d;
	background-color: aliceblue;
}
.list__item-header {
	display: flex;
	justify-content: space-between;
	background-color: #f3db7d;

}
.list__buttons{
	display: flex;
}
.list__delete-button {
}
.list__favorites-button img {

}
.list__title {
	font-weight: 500;
	line-height: 1;
	color: #292515;
}
.list__description {
}
/*-------Классы на сообщения-----------------*/
.success {
	color: green;
}
.error {
	color: red;
}
.hidden{
display: none;
}

/*----------Радиокнопки------------------*/
fieldset {
	all: unset;
}

legend {
	all: unset
}

.radio-list {
	display: flex;
	gap: 14px;
	list-style: none;
	padding-left: 0;
}


.radio {
	appearance: none;
	display: inline-block;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: green;
}

.radio[value="red"] {
	background-color: #F37D7D;
}

.radio[value="green"] {
	background-color: #C2F37D;
}

.radio[value="blue"] {
	background-color: #7DE1F3;
}

.radio[value="yellow"] {
	background-color: #F3DB7D;
}

.radio[value="purple"] {
	background-color: #E77DF3;
}

.radio:checked {
	border-color: white;
	box-shadow: 0 0 0 3px white, /* Внутренняя обводка для создания промежутка */ 0 0 0 4.5px #007BFF; /* Внешняя обводка */
}